/* Reset */
.reset, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dr--bg--lightblue: #b4d0e6;
  --dr--bg--btn: #1d73fe;
  --dr--tx--lightgrey: #a9a9a9;
  --dr--tx--white: #fff;
}

body {
  font-family: sans-serif;
  background-color: #fff;
}

/* Header */

.container {
 width: 100%;  
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between; 
}

.navbar {
  background: #fff;
  border-bottom: 1px solid #eee;
}

.navbar nav a {
  
  color: var(--dr--tx--lightgrey);
  text-decoration: none;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}


.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.actions a {
  color: var(--dr--tx--lightgrey);
  text-decoration: none;
  margin-left: 1rem;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
 
}

.btn.inizia {
  background: var(--dr--bg--btn);
  color: var(--dr--tx--white);
}

.logo img {
  height: 30px;
}